/** Nav・Sidebar・Mainなどの骨格 */

.navbar-front {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #25cff2 !important;

  a.navbar-menu {
    color: #ffffff;
  }

  a.navbar-menu:hover {
    background-color: #2FB5AA;
    color: #ffffff;
  }
}